body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

canvas {
  width: calc(100vh * 9 / 16) !important;
  height: 100vh !important;
}

@supports (-webkit-overflow-scrolling: touch) {
  canvas {
    width: calc((100vh - 64px) * 9 / 16) !important;
    height: calc(100vh - 84px) !important;
  }
}
